{
    "presets": [
        ["@babel/env", {
            "modules": false,
            "targets": {
                "ie": "11"
              }
        }],
        "@babel/typescript",
        "@babel/preset-react"
    ],

    "plugins": [
        "@babel/proposal-class-properties",
        "@babel/proposal-object-rest-spread",
        "@babel/plugin-syntax-dynamic-import",
        ["@babel/plugin-transform-runtime", {
            "corejs": false,
            "regenerator": true
        }]
    ],

    "env": {
        "production": {
            "plugins": [
                ["babel-plugin-webpack-alias", {
                    "config": "webpack.config.js",
                    "findConfig": true
                }]
            ]
        },

        "development": {
            "plugins": [
                ["babel-plugin-webpack-alias", {
                    "config": "webpack.config.dev.js",
                    "findConfig": true
                }],
                "react-hot-loader/babel"
            ]
        }
    }
}
