{
    "presets": [
        ["@babel/env", {
            "modules": false
        }],
        "@babel/typescript",
        "@babel/preset-react"
    ],
    "plugins": [
        "@babel/proposal-class-properties",
        "@babel/proposal-object-rest-spread",
        "@babel/plugin-syntax-dynamic-import",
        "babel-plugin-webpack-alias",
        "react-hot-loader/babel"
    ]
}